@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img, picture, svg, video, canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *, *::before, *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    -webkit-transition: none;
    transition: none;
  }
}
body, html {
  height: 100%;
  scroll-behavior: smooth;
}

/*----------------------------------------------------------*/
.container {
  max-width: 1122px;
  margin: 0px auto;
}
@media (max-width: 1032px) {
  .container {
    margin: 0px 42px;
  }
}
@media (max-width: 744px) {
  .container {
    margin: 0px 33px;
  }
}
@media (max-width: 545px) {
  .container {
    margin: 0px 15px;
  }
}

body {
  color: #85859B;
  font-size: 18px;
  font-family: "Roboto";
}
body p {
  color: #85859B;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
@media (max-width: 744px) {
  body p {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 545px) {
  body p {
    font-size: 14px;
    line-height: 21px;
  }
}
body input, body button, body textarea, body select {
  font-family: "Roboto";
  font-weight: 400;
}
body input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: no-repeat url(../img/vector/escape.svg);
}
body input::-webkit-search-cancel-button:hover {
  background: no-repeat url(../img/vector/escape_hover.svg);
}
body input::-webkit-search-cancel-button:focus {
  background: no-repeat url(../img/vector/escape_focus.svg);
}
body input::-webkit-search-cancel-button:active {
  background: no-repeat url(../img/vector/escape_active.svg);
}

body.lock {
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid #DDDDDD;
  z-index: 1;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #fff;
}
@media (max-width: 545px) {
  .header:before {
    z-index: 4;
  }
}
@media (max-width: 1032px) {
  .header:after {
    content: "";
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid #DDDDDD;
  }
}
@media (max-width: 744px) {
  .header:after {
    content: "";
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid #DDDDDD;
  }
}
@media (max-width: 545px) {
  .header:after {
    content: "";
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid #DDDDDD;
  }
}
.header__content {
  height: 79px;
  padding: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0 6px;
}
@media (max-width: 1032px) {
  .header__content {
    padding: 0;
    height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 744px) {
  .header__content {
    padding: 0;
    height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 545px) {
  .header__content {
    padding: 0;
    height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 140px;
          flex: 0 0 140px;
  position: relative;
  z-index: 4;
  margin: 0px 0px 0px 0px;
}
@media (max-width: 1032px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: -2px 0px 0px -3px;
  }
}
@media (max-width: 744px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: 0px 0px 1px 0px;
  }
}
@media (max-width: 545px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: 0px 0px 0px 0px;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 545px) {
  .header__burger {
    position: absolute;
    top: 65px;
    left: 5px;
    display: block;
    width: 20px;
    height: 18px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    z-index: 4;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    background-color: #4C5866;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header__burger span {
    position: absolute;
    background-color: #4C5866;
    left: 0;
    top: 8px;
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
}
.header__burger.active {
  width: 24px;
  left: 2px;
  /*background-color: #EBEBEB;
  box-shadow: 0px 0px 8px 13px rgb(235, 235, 235);
  border-radius: 20px;*/
}
.header__burger.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}
.header__burger.active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 8px;
}
.header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.header__btns {
  margin: 5px 0px 0px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}
@media (max-width: 1032px) {
  .header__btns {
    margin: 4px -7px 0px 0px;
  }
}
@media (max-width: 744px) {
  .header__btns {
    margin: 5px 0px 0px 0px;
  }
}
@media (max-width: 545px) {
  .header__btns {
    margin: 0px 0px 0px 0px;
    position: absolute;
    top: 63px;
    right: 0;
    height: 24px;
  }
}
.header__login-btn {
  background: no-repeat url(../img/vector/log-in.svg);
  height: 24px;
  width: 24px;
  border: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0px 0px 0px 30px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header__login-btn:hover {
  background: no-repeat url(../img/vector/log-in_hover.svg);
}
.header__login-btn:focus {
  background: no-repeat url(../img/vector/log-in_focus.svg);
}
.header__login-btn:active {
  background: no-repeat url(../img/vector/log-in_active.svg);
}
@media (max-width: 545px) {
  .header__login-btn {
    margin: 0px 0px 0px 0px;
  }
}

.search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 26px;
}
@media (max-width: 545px) {
  .search-box.active {
    margin: 0px 10px 0px 0px;
  }
}
.search-box__search-btn {
  background: no-repeat url(../img/vector/loupe.svg);
  height: 24px;
  width: 24px;
  border: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0px 0px 0px 0px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.search-box__search-btn:hover {
  background: no-repeat url(../img/vector/loupe_hover.svg);
}
.search-box__search-btn:focus {
  background: no-repeat url(../img/vector/loupe_focus.svg);
}
.search-box__search-btn:active {
  background: no-repeat url(../img/vector/loupe_active.svg);
}
@media (max-width: 545px) {
  .search-box__search-btn {
    margin: 0px 30px 0px 0px;
  }
}
.search-box__search-btn.active {
  margin: 0px 7px 0px 0px;
}
.search-box__search-txt {
  display: block;
  width: 0px;
  border: none;
  outline: none;
  font-size: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.search-box__search-txt::-webkit-input-placeholder {
  color: #D1D1E5;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.search-box__search-txt::-moz-placeholder {
  color: #D1D1E5;
  opacity: 0;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.search-box__search-txt:-ms-input-placeholder {
  color: #D1D1E5;
  opacity: 0;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.search-box__search-txt::-ms-input-placeholder {
  color: #D1D1E5;
  opacity: 0;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.search-box__search-txt::placeholder {
  color: #D1D1E5;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.search-box__search-txt.active {
  width: 200px;
  border-bottom: 1px solid #D1D1E5;
  color: #4C5866;
}
.search-box__search-txt.active::-webkit-input-placeholder {
  opacity: 100;
}
.search-box__search-txt.active::-moz-placeholder {
  opacity: 100;
}
.search-box__search-txt.active:-ms-input-placeholder {
  opacity: 100;
}
.search-box__search-txt.active::-ms-input-placeholder {
  opacity: 100;
}
.search-box__search-txt.active::placeholder {
  opacity: 100;
}
@media (max-width: 545px) {
  .search-box__search-txt.active {
    width: 150px;
  }
}

.menu {
  z-index: 2;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
@media (max-width: 1032px) {
  .menu {
    width: 89.5%;
    position: fixed;
    top: 63px;
  }
}
@media (max-width: 744px) {
  .menu {
    width: 88.5%;
    position: fixed;
    top: 63px;
  }
}
@media (max-width: 545px) {
  .menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 0px 0px 0px 0px;
    padding: 46px 0px 0px 0px;
    position: fixed;
    top: -150%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #EBEBEB;
    z-index: 3;
    overflow: auto;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
}
.menu.active {
  top: 0;
}
.menu__body {
  width: 100%;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 1032px) {
  .menu__list {
    margin: 0px 0px 0px 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 744px) {
  .menu__list {
    margin: 0px 0px 0px 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 545px) {
  .menu__list {
    display: block;
    margin: 65px 0px 0px 0px;
  }
}
.menu__list li {
  margin: 0px 0px 0px 60px;
  list-style-type: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
@media (max-width: 1032px) {
  .menu__list li {
    margin: 0px 0px 0px 0px;
  }
}
@media (max-width: 744px) {
  .menu__list li {
    margin: 0px 0px 0px 0px;
  }
}
@media (max-width: 545px) {
  .menu__list li {
    margin: 0px 0px 50px 14px;
  }
}
@media (min-width: 1032px) {
  .menu__list li.go-left {
    margin: 0px 0px 0px 35px;
  }
}
.menu__link {
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
  color: #4C5866;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.menu__link:hover {
  color: #7875FE;
}
.menu__link:focus {
  background-color: #DAD9FB;
}
.menu__link:active {
  color: #4946B4;
}
@media (max-width: 545px) {
  .menu__link {
    font-size: 18px;
    line-height: 21.09px;
  }
}

.page {
  margin: 140px 0px 0px 0px;
}
@media (max-width: 1032px) {
  .page {
    margin: 165px 0px 0px 0px;
  }
}
@media (max-width: 744px) {
  .page {
    margin: 124px 0px 0px 0px;
  }
}
@media (max-width: 545px) {
  .page {
    margin: 105px 0px 0px 0px;
  }
}

.simple-things__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 6px;
}
@media (max-width: 1032px) {
  .simple-things__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    margin: 0px 39px;
  }
}
@media (max-width: 744px) {
  .simple-things__container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0px 17px;
  }
}
@media (max-width: 545px) {
  .simple-things__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 6px 49px 6px;
    margin: 0px 8px;
  }
}
.simple-things__content {
  padding: 70px 0px 0px 0px;
  max-width: 446px;
  margin: 0px 0px 0px 0px;
}
@media (max-width: 1032px) {
  .simple-things__content {
    max-width: 390px;
    margin: 0px 0px 0px 0px;
    padding: 6px 0px 0px 0px;
  }
}
@media (max-width: 744px) {
  .simple-things__content {
    margin: 0px 0px 0px 0px;
    padding: 40px 0px 0px 0px;
  }
}
@media (max-width: 545px) {
  .simple-things__content {
    margin: 0px 0px 0px 0px;
    padding: 49px 0px 0px 0px;
  }
}
.simple-things__content h1 {
  color: #4C5866;
  margin: 0px 0px 15px 0px;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  margin: 0px 0px 30px 0px;
}
@media (max-width: 1032px) {
  .simple-things__content h1 {
    width: 390px;
    font-size: 50px;
    line-height: 50px;
    margin: 0px 0px 30px 0px;
  }
}
@media (max-width: 744px) {
  .simple-things__content h1 {
    width: 286px;
    font-size: 38px;
    line-height: 38px;
    margin: 0px 0px 20px 0px;
  }
}
@media (max-width: 545px) {
  .simple-things__content h1 {
    width: 222px;
    font-size: 30px;
    line-height: 30px;
    margin: 0px 0px 15px 0px;
  }
}
.simple-things__content p {
  margin: 0px 0px 32px 0px;
}
@media (max-width: 744px) {
  .simple-things__content p {
    width: 287px;
    margin: 0px 0px 20px 0px;
  }
}
@media (max-width: 545px) {
  .simple-things__content p {
    width: auto;
    min-width: 287px;
    margin: 0px 0px 21px 0px;
  }
}
.simple-things__image {
  background: no-repeat url("../img/made-from-paper.png");
  display: block;
  width: 540px;
  height: 560px;
  background-position: -18px -1px;
  background-size: 180%;
}
@media (max-width: 1032px) {
  .simple-things__image {
    width: 270px;
    height: 410px;
    background-position: -9px 0px;
    background-size: 180%;
  }
}
@media (max-width: 744px) {
  .simple-things__image {
    width: 195px;
    height: 396px;
    background-position: -8px -1px;
    background-size: 180%;
  }
}
@media (max-width: 545px) {
  .simple-things__image {
    display: none;
  }
}

.btn {
  font-size: 20px;
  color: #7875FE;
  background-color: #fff;
  width: 254px;
  height: 70px;
  border: 1px solid #7875FE;
}
.btn:hover {
  color: #fff;
  background-color: #7875FE;
}
.btn:focus {
  color: #7875FE;
  background-color: #DAD9FB;
}
.btn:active {
  color: #fff;
  background-color: #4946B4;
}
@media (max-width: 744px) {
  .btn {
    width: 196px;
    height: 60px;
  }
}
@media (max-width: 545px) {
  .btn {
    font-size: 18px;
    width: 144px;
    height: 50px;
  }
}

.examples {
  background-color: #EBEBEB;
  min-width: 320px;
}
.examples__container {
  padding: 110px 6px 89px 6px;
}
@media (max-width: 1032px) {
  .examples__container {
    padding: 81px 0px 59px 0px;
    margin: 0px 39px;
  }
}
@media (max-width: 744px) {
  .examples__container {
    padding: 81px 0px 59px 0px;
    margin: 0px 33px;
  }
}
@media (max-width: 545px) {
  .examples__container {
    padding: 81px 0px 59px 0px;
    margin: 0px 15px;
  }
}
.examples__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 545px) {
  .examples__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.examples__card {
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
  position: relative;
}
.examples__card::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #DDDDDD;
}
@media (max-width: 1032px) {
  .examples__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 210px;
  }
}
@media (max-width: 744px) {
  .examples__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 150px;
  }
}
@media (max-width: 545px) {
  .examples__card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 290px;
    margin: 0px 0px 40px 0px;
  }
}
.examples__image {
  width: 160px;
  height: 118px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 160px;
          flex: 0 0 160px;
}
@media (max-width: 1032px) {
  .examples__image {
    width: 160px;
    height: 118px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 118px;
            flex: 0 0 118px;
  }
}
@media (max-width: 744px) {
  .examples__image {
    width: 150px;
    height: 111px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 111px;
            flex: 0 0 111px;
  }
}
@media (max-width: 545px) {
  .examples__image {
    width: 130px;
    height: 96px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 130px;
            flex: 0 0 130px;
  }
}
.examples__text {
  padding: 0px 0px 0px 30px;
}
@media (max-width: 1032px) {
  .examples__text {
    padding: 0px 0px 0px 0px;
  }
}
@media (max-width: 545px) {
  .examples__text {
    padding: 0px 0px 0px 30px;
  }
}
.examples__text h4 {
  font-weight: 500;
}
.examples__text h4, .examples__text p {
  font-size: 18px;
  line-height: 27px;
}
@media (max-width: 744px) {
  .examples__text h4, .examples__text p {
    font-size: 16px;
    line-height: 24px;
  }
}
.examples__main-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 92px 0px 0px 0px;
}
@media (max-width: 1032px) {
  .examples__main-card {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 40px 0px 0px 0px;
  }
}
@media (max-width: 744px) {
  .examples__main-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 545px) {
  .examples__main-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0px 0px 0px;
  }
}
.examples__text-main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 350px;
          flex: 1 1 350px;
  padding: 59px 0px 0px 30px;
}
@media (max-width: 1032px) {
  .examples__text-main {
    padding: 0px 0px 0px 30px;
    min-width: 330px;
  }
}
@media (max-width: 744px) {
  .examples__text-main {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 240px;
            flex: 1 1 240px;
    padding: 18px 0px 0px 0px;
    min-width: 260px;
  }
}
@media (max-width: 545px) {
  .examples__text-main {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 290px;
            flex: 1 1 290px;
    padding: 19px 0px 0px 0px;
    min-width: 290px;
  }
}
.examples__text-main h2 {
  color: #666666;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  margin: 0px 0px 16px 0px;
}
@media (max-width: 1032px) {
  .examples__text-main h2 {
    font-size: 30px;
    line-height: 30px;
    margin: 0px 0px 22px 0px;
  }
}
@media (max-width: 744px) {
  .examples__text-main h2 {
    font-size: 24px;
    line-height: 24px;
    margin: 0px 0px 13px 0px;
  }
}
@media (max-width: 545px) {
  .examples__text-main h2 {
    font-size: 24px;
    line-height: 24px;
    margin: 0px 0px 13px 0px;
  }
}
.examples__text-main p {
  line-height: 30.6px;
}
@media (max-width: 744px) {
  .examples__text-main p {
    font-size: 16px;
    line-height: 27.2px;
  }
}
@media (max-width: 545px) {
  .examples__text-main p {
    font-size: 16px;
    line-height: 27.2px;
  }
}
.examples__text-main :last-child {
  margin-top: 12px;
}
@media (max-width: 744px) {
  .examples__text-main :last-child {
    margin-top: 10px;
  }
}
.examples__image-main {
  width: 730px;
  height: 564px;
}
@media (max-width: 1032px) {
  .examples__image-main {
    width: 330px;
    height: 256px;
  }
}
@media (max-width: 545px) {
  .examples__image-main {
    width: 290px;
    height: 223px;
  }
}

.products__container {
  padding: 90px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1032px) {
  .products__container {
    padding: 60px 6px 0px 6px;
    margin: 0 33px;
  }
}
@media (max-width: 744px) {
  .products__container {
    padding: 60px 0px 20px 0px;
    margin: 0 33px;
  }
}
@media (max-width: 545px) {
  .products__container {
    padding: 60px 0px 0px 0px;
    margin: 0 9px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.products__card {
  width: 255px;
}
@media (max-width: 1032px) {
  .products__card {
    padding: 0px 0px 61px 0px;
    width: 330px;
  }
}
@media (max-width: 744px) {
  .products__card {
    padding: 0px 0px 40px 0px;
    width: 240px;
  }
}
@media (max-width: 545px) {
  .products__card {
    padding: 0px 0px 60px 0px;
    width: 290px;
  }
}
.products__image {
  width: 255px;
  height: 180px;
  background-color: #EBEBEB;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1032px) {
  .products__image {
    width: 330px;
    height: 180px;
  }
}
@media (max-width: 744px) {
  .products__image {
    width: 240px;
    height: 180px;
  }
}
@media (max-width: 545px) {
  .products__image {
    width: 290px;
    height: 180px;
  }
}
.products__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 255px;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1032px) {
  .products__image img {
    top: 51%;
    height: 180px;
    width: 330px;
  }
}
@media (max-width: 744px) {
  .products__image img {
    top: 53%;
    left: 50%;
    height: 169px;
  }
}
@media (max-width: 545px) {
  .products__image img {
    top: 50%;
    left: 50%;
    width: 290px;
    height: 182px;
  }
}
.products__text {
  padding: 20px 0px 19px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1032px) {
  .products__text {
    padding: 21px 0px 18px 0px;
  }
}
@media (max-width: 744px) {
  .products__text {
    padding: 21px 0px 18px 0px;
  }
}
@media (max-width: 545px) {
  .products__text {
    padding: 20px 0px 27px 0px;
  }
}
.products__text h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 35.16px;
}
@media (max-width: 744px) {
  .products__text h2 {
    font-size: 24px;
    line-height: 28.13px;
  }
}
.products__text p {
  line-height: 30.6px;
}
@media (max-width: 744px) {
  .products__text p {
    font-size: 16px;
    line-height: 27.2px;
  }
}
@media (max-width: 545px) {
  .products__text p {
    font-size: 16px;
    line-height: 27.2px;
  }
}
.products__edition {
  padding: 9px 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
}
@media (max-width: 744px) {
  .products__edition {
    padding: 6px 0px;
  }
}
@media (max-width: 545px) {
  .products__edition {
    padding: 6px 0px;
  }
}
.products__link {
  width: 136px;
  height: 23px;
}
@media (max-width: 545px) {
  .products__link {
    margin: -5px 0px 2px 0px;
  }
}
.products__details {
  display: block;
  width: 100%;
  height: 100%;
  background: no-repeat url(../img/vector/details.svg);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.products__details:hover {
  background: no-repeat url(/img/vector/details_hover.svg);
}
.products__details:focus {
  background: no-repeat url(../img/vector/details_focus.svg);
}
.products__details:active {
  background: no-repeat url(../img/vector/details_active.svg);
}

.brands {
  background-color: #EBEBEB;
}
.brands__container {
  padding: 90px 0px 90px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1032px) {
  .brands__container {
    margin: 0px 39px;
    padding: 60px 0px 60px 0px;
  }
}
@media (max-width: 744px) {
  .brands__container {
    margin: 0px 33px;
    padding: 60px 0px 30px 0px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 545px) {
  .brands__container {
    display: block;
    margin: 0px 0px 0px 15px;
    padding: 60px 0px 60px 0px;
    overflow-y: hidden;
    white-space: nowrap;
  }
}
.brands__logo {
  width: 255px;
  height: 135px;
}
@media (max-width: 1032px) {
  .brands__logo {
    width: 150px;
    height: 80px;
  }
}
@media (max-width: 744px) {
  .brands__logo {
    width: 240px;
    height: 127px;
    margin: 0px 0px 30px 0px;
  }
}
@media (max-width: 545px) {
  .brands__logo {
    width: 150px;
    height: 80px;
    margin: 0px 26px 0px 0px;
    display: inline-block;
  }
}