@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img, picture, svg, video, canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *, *::before, *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    -webkit-transition: none;
    transition: none;
  }
}
body, html {
  height: 100%;
  scroll-behavior: smooth;
}

/*----------------------------------------------------------*/
.container {
  max-width: 1110px;
  margin: 0px auto;
}
@media (max-width: 780.98px) {
  .container {
    margin: 0px 39px;
  }
}
@media (max-width: 588.98px) {
  .container {
    margin: 0px 33px;
  }
}
@media (max-width: 332.98px) {
  .container {
    margin: 0px 15px;
  }
}

body {
  color: #85859B;
  font-size: 18px;
  font-family: "Roboto";
}
body input, body button, body textarea, body select {
  font-family: "Roboto";
  font-weight: 400;
}
body input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: no-repeat url(../img/vector/escape.svg);
}
body input::-webkit-search-cancel-button:hover {
  background: no-repeat url(../img/vector/escape_hover.svg);
}
body input::-webkit-search-cancel-button:focus {
  background: no-repeat url(../img/vector/escape_focus.svg);
}
body input::-webkit-search-cancel-button:active {
  background: no-repeat url(../img/vector/escape_active.svg);
}

body.lock {
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid #DDDDDD;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #fff;
}
@media (max-width: 332.98px) {
  .header:before {
    z-index: 4;
  }
}
@media (max-width: 780.98px) {
  .header:after {
    content: "";
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid #DDDDDD;
  }
}
@media (max-width: 588.98px) {
  .header:after {
    content: "";
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid #DDDDDD;
  }
}
@media (max-width: 332.98px) {
  .header:after {
    content: "";
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid #DDDDDD;
  }
}
.header__content {
  height: 79px;
  padding: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0 6px;
}
@media (max-width: 780.98px) {
  .header__content {
    padding: 0;
    height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 588.98px) {
  .header__content {
    padding: 0;
    height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 332.98px) {
  .header__content {
    padding: 0;
    height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 140px;
          flex: 0 0 140px;
  position: relative;
  z-index: 4;
  margin: 0px 0px 0px 0px;
}
@media (max-width: 780.98px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: -1px 0px 0px 0px;
  }
}
@media (max-width: 588.98px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: 0px 0px 1px 0px;
  }
}
@media (max-width: 332.98px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: 0px 0px 0px 0px;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 332.98px) {
  .header__burger {
    position: absolute;
    top: 65px;
    left: 20px;
    display: block;
    width: 20px;
    height: 18px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    z-index: 4;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    background-color: #4C5866;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header__burger span {
    position: absolute;
    background-color: #4C5866;
    left: 0;
    top: 8px;
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
}
.header__burger.active {
  width: 24px;
  left: 18px;
  background-color: #EBEBEB;
  -webkit-box-shadow: 0px 0px 8px 13px rgb(235, 235, 235);
          box-shadow: 0px 0px 8px 13px rgb(235, 235, 235);
  border-radius: 20px;
}
.header__burger.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}
.header__burger.active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 8px;
}
.header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.header__menu {
  z-index: 2;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
@media (max-width: 780.98px) {
  .header__menu {
    position: fixed;
    top: 63px;
  }
}
@media (max-width: 588.98px) {
  .header__menu {
    position: fixed;
    top: 63px;
  }
}
@media (max-width: 332.98px) {
  .header__menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 0px 0px 0px 0px;
    padding: 46px 0px 0px 0px;
    position: fixed;
    top: -150%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #EBEBEB;
    z-index: 3;
    overflow: auto;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
}
.header__menu.active {
  top: 0;
}
.header__btns {
  margin: 5px 0px 0px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}
@media (max-width: 780.98px) {
  .header__btns {
    margin: 0px 0px 0px 0px;
  }
}
@media (max-width: 588.98px) {
  .header__btns {
    margin: 0px 0px 0px 0px;
  }
}
@media (max-width: 332.98px) {
  .header__btns {
    margin: 0px 0px 0px 0px;
    position: absolute;
    top: 63px;
    right: 0;
    height: 24px;
  }
}
.header__login-btn {
  background: no-repeat url(../img/vector/log-in.svg);
  height: 24px;
  width: 24px;
  border: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0px 0px 0px 30px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header__login-btn:hover {
  background: no-repeat url(../img/vector/log-in_hover.svg);
}
.header__login-btn:focus {
  background: no-repeat url(../img/vector/log-in_focus.svg);
}
.header__login-btn:active {
  background: no-repeat url(../img/vector/log-in_active.svg);
}
@media (max-width: 332.98px) {
  .header__login-btn {
    margin: 0px 0px 0px 0px;
  }
}

.search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 26px;
}
@media (max-width: 332.98px) {
  .search-box.active {
    margin: 0px 10px 0px 0px;
  }
}
.search-box__search-btn {
  background: no-repeat url(../img/vector/loupe.svg);
  height: 24px;
  width: 24px;
  border: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0px 0px 0px 0px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.search-box__search-btn:hover {
  background: no-repeat url(../img/vector/loupe_hover.svg);
}
.search-box__search-btn:focus {
  background: no-repeat url(../img/vector/loupe_focus.svg);
}
.search-box__search-btn:active {
  background: no-repeat url(../img/vector/loupe_active.svg);
}
@media (max-width: 332.98px) {
  .search-box__search-btn {
    margin: 0px 30px 0px 0px;
  }
}
.search-box__search-btn.active {
  margin: 0px 7px 0px 0px;
}
.search-box__search-txt {
  display: block;
  width: 0px;
  border: none;
  outline: none;
  font-size: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.search-box__search-txt::-webkit-input-placeholder {
  color: #D1D1E5;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.search-box__search-txt::-moz-placeholder {
  color: #D1D1E5;
  opacity: 0;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.search-box__search-txt:-ms-input-placeholder {
  color: #D1D1E5;
  opacity: 0;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.search-box__search-txt::-ms-input-placeholder {
  color: #D1D1E5;
  opacity: 0;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.search-box__search-txt::placeholder {
  color: #D1D1E5;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.search-box__search-txt.active {
  width: 200px;
  border-bottom: 1px solid #D1D1E5;
  color: #4C5866;
}
.search-box__search-txt.active::-webkit-input-placeholder {
  opacity: 100;
}
.search-box__search-txt.active::-moz-placeholder {
  opacity: 100;
}
.search-box__search-txt.active:-ms-input-placeholder {
  opacity: 100;
}
.search-box__search-txt.active::-ms-input-placeholder {
  opacity: 100;
}
.search-box__search-txt.active::placeholder {
  opacity: 100;
}
@media (max-width: 332.98px) {
  .search-box__search-txt.active {
    width: 150px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 780.98px) {
  .menu {
    width: 89.5%;
  }
}
@media (max-width: 588.98px) {
  .menu {
    width: 88%;
  }
}
@media (max-width: 332.98px) {
  .menu {
    width: 100%;
  }
}
.menu__body {
  width: 100%;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 780.98px) {
  .menu__list {
    margin: 0px 0px 0px 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 588.98px) {
  .menu__list {
    margin: 0px 0px 0px 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 332.98px) {
  .menu__list {
    display: block;
    margin: 65px 0px 0px 0px;
  }
}
.menu__list li {
  margin: 0px 0px 0px 60px;
  list-style-type: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
@media (max-width: 780.98px) {
  .menu__list li {
    margin: 0px 0px 0px 0px;
  }
}
@media (max-width: 588.98px) {
  .menu__list li {
    margin: 0px 0px 0px 0px;
  }
}
@media (max-width: 332.98px) {
  .menu__list li {
    margin: 0px 0px 50px 15px;
  }
}
@media (min-width: 780.98px) {
  .menu__list li.go-left {
    margin: 0px 0px 0px 15px;
  }
}
.menu__link {
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
  color: #4C5866;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.menu__link:hover {
  color: #7875FE;
}
.menu__link:focus {
  background-color: #DAD9FB;
}
.menu__link:active {
  color: #4946B4;
}
@media (max-width: 332.98px) {
  .menu__link {
    font-size: 18px;
    line-height: 21.09px;
  }
}

.page {
  margin: 140px 0px 0px 0px;
}
@media (max-width: 780.98px) {
  .page {
    margin: 165px 0px 0px 0px;
  }
}
@media (max-width: 588.98px) {
  .page {
    margin: 124px 0px 0px 0px;
  }
}
@media (max-width: 332.98px) {
  .page {
    margin: 105px 0px 0px 0px;
  }
}

.simple-things__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.simple-things__content {
  padding: 70px 0px 0px 0px;
  width: 446px;
  margin: 0px 125px 0px 0px;
}
@media (max-width: 780.98px) {
  .simple-things__content {
    margin: 0px 30px 0px 0px;
    padding: 6px 0px 0px 0px;
  }
}
@media (max-width: 588.98px) {
  .simple-things__content {
    margin: 0px 0px 0px 0px;
    padding: 40px 0px 0px 0px;
  }
}
@media (max-width: 332.98px) {
  .simple-things__content {
    margin: 0px 0px 0px 0px;
    padding: 49px 0px 0px 0px;
  }
}
.simple-things__content h1 {
  color: #4C5866;
  margin: 0px 0px 15px 0px;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  margin: 0px 0px 30px 0px;
}
@media (max-width: 780.98px) {
  .simple-things__content h1 {
    width: 390px;
    font-size: 50px;
    line-height: 50px;
    margin: 0px 0px 30px 0px;
  }
}
@media (max-width: 588.98px) {
  .simple-things__content h1 {
    width: 286px;
    font-size: 38px;
    line-height: 38px;
    margin: 0px 0px 20px 0px;
  }
}
@media (max-width: 332.98px) {
  .simple-things__content h1 {
    width: 222px;
    font-size: 30px;
    line-height: 30px;
    margin: 0px 0px 15px 0px;
  }
}
.simple-things__content p {
  color: #85859B;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin: 0px 0px 32px 0px;
}
@media (max-width: 588.98px) {
  .simple-things__content p {
    width: 287px;
    font-size: 16px;
    line-height: 24px;
    margin: 0px 0px 20px 0px;
  }
}
@media (max-width: 332.98px) {
  .simple-things__content p {
    font-size: 14px;
    line-height: 21px;
    margin: 0px 0px 21px 0px;
  }
}
.simple-things__image {
  display: block;
  background: no-repeat url("img/made-from-paper.jpg");
  width: 540px;
  height: 540px;
}
@media (max-width: 780.98px) {
  .simple-things__image {
    background: no-repeat url("img/made-from-paper-md2.jpg");
    width: 270px;
    height: 410px;
  }
}
@media (max-width: 588.98px) {
  .simple-things__image {
    background: no-repeat url("img/made-from-paper-md3.jpg");
    width: 195px;
    height: 396px;
  }
}
@media (max-width: 332.98px) {
  .simple-things__image {
    display: none;
  }
}

.btn {
  font-size: 20px;
  color: #7875FE;
  background-color: #fff;
  width: 254px;
  height: 70px;
  border: 1px solid #7875FE;
}
.btn:hover {
  color: #fff;
  background-color: #7875FE;
}
.btn:focus {
  color: #7875FE;
  background-color: #DAD9FB;
}
.btn:active {
  color: #fff;
  background-color: #4946B4;
}
@media (max-width: 588.98px) {
  .btn {
    width: 196px;
    height: 60px;
  }
}
@media (max-width: 332.98px) {
  .btn {
    width: 144px;
    height: 50px;
  }
}