.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	border-bottom: 1px solid #DDDDDD;	
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background-color: #fff;
		@media (max-width: $md4) {
			z-index: 4;
		}					
	}
	&:after {
		@media (max-width: $md4) {
			content: '';
			position: absolute;
			top: 45px;
			left: 0;
			width: 100%;
			height: 60px;
			z-index: 1;
			background-color: #fff;
			border-bottom: 1px solid #DDDDDD	
		}					
	}		
	

    &__content {
        height: 80px;
        padding: 10px 0;
        align-items: center;
        display: flex;
        justify-content: space-between;
        max-width: 1122px;
        padding: 0 6px;        
		position: relative;
		@media (max-width: $md3) {
			height: 44px;
			display: flex;
			justify-content: space-around;
		}	
		@media (max-width: $md4) {
			height: 44px;
			display: flex;
			justify-content: space-around;
		}			
    }

	&__logo {
		flex: 0 0 140px;
		position: relative;
		z-index: 4;
		@media (max-width: $md4) {			
			flex: 0 0 auto;
		}
	}

	&__burger {
		display: none;
		@media (max-width: $md4) {
			position: absolute;
			top: 65px;
			left: 20px;			
			display: block;			
			width: 20px;
			height: 18px;
			flex: 0 0 auto;			
			z-index: 4;
			&:before, &:after {
				content: '';
				background-color: #4C5866;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				transition: all 0.3s ease;
			}
			& span{
				position: absolute;
				background-color: #4C5866;
				left: 0;
				top: 8px;
				width: 100%;
				height: 2px;
				transition: all 0.3s ease;
			}				
			&:before{
				top: 0;
			}
			&:after {
				bottom: 0;
			}
		}		
	}

	&__burger.active{
		width: 24px;
		left: 18px;
		&:before{
			transform: rotate(45deg);
			top: 8px;
		}
		&:after{
			transform: rotate(-45deg);
			bottom: 8px;
		}
		& span{
			transform: scale(0)
		}
	}
	

	&__menu {
		z-index: 2;
		margin: 0px 0px 0px 176px;
		transition: all 0.4s ease;
		&.go-left{
			margin: 0px 0px 0px 0px;
		}
		@media (max-width: $md3) {
			position: fixed;
			top: 63px;
			left: auto;
		}	
		@media (max-width: $md4) {
			margin: 0px 0px 0px 0px;
			padding: 46px 0px 0px 0px;
			position: fixed;
			top: -150%;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #EBEBEB;
			z-index: 3;
			overflow: auto;
			transition: all 0.4s ease;
		}
		&.active{
			top: 0;
		}	
	}
	

	&__btns {
		margin: 5px 0px 0px 0px;
		display: flex;
		z-index: 2;
		@media (max-width: $md4) {
			margin: 0px 0px 0px 0px;
			position: absolute;
			top: 63px;
			right: 15px;
			height: 24px;
		}
	}

	&__login-btn {
		background: no-repeat url(../img/vector/log-in.svg);
		height: 24px;
		width: 24px;
		border: none;
		flex: 0 0 auto;
		margin: 0px 0px 0px 30px;
		transition: all 0.4s ease;
		&:hover {			
			background: no-repeat url(../img/vector/log-in_hover.svg);
		}
		&:focus{		
			background: no-repeat url(../img/vector/log-in_focus.svg);
		}
		&:active{		
			background: no-repeat url(../img/vector/log-in_active.svg);
		}
		@media (max-width: $md4) {
			margin: 0px 0px 0px 0px;
		}	
	}
}

.search-box {
	display: flex;
	position: relative;	
	height: 26px;
	@media (max-width: $md4) {
		&.active{
			margin: 0px 10px 0px 0px;
		}		
	}		

	&__search-btn {
		background: no-repeat url(../img/vector/loupe.svg);
		height: 24px;
		width: 24px;
		border: none;
		flex: 0 0 auto;		
		margin: 0px 0px 0px 0px;
		transition: all 0.4s ease;
		&:hover {			
			background: no-repeat url(../img/vector/loupe_hover.svg);
		}
		&:focus{		
			background: no-repeat url(../img/vector/loupe_focus.svg);
		}
		&:active{		
			background: no-repeat url(../img/vector/loupe_active.svg);
		}
		@media (max-width: $md4) {
			margin: 0px 30px 0px 00px;
		}
		&.active{
			margin: 0px 7px 0px 0px;
		}	
	};

	&__search-txt {	
		display: block;
		width: 0px;
		border: none;
		outline: none;
		font-size: 20px;		
		transition: all 0.4s ease;
		&::placeholder {
			color: #D1D1E5;
			opacity: 0;
			transition: all 0.6s ease;
		}
		
		&.active{
			width: 200px;
			border-bottom: 1px solid #D1D1E5;
			color: #4C5866;
			&::placeholder {
				opacity: 100;
			}	
			@media (max-width: $md4) {
				width: 150px;
			}	
		};
	}
}

.menu {
	display: flex;	
    &__list {
        display: flex;
		@media (max-width: $md4) {
			display: block;
			margin: 65px 0px 0px 0px;			
		}	
        li {
            margin: 0px 0px 0px 60px;
            list-style-type: none;
			flex: 0 0 auto;
			@media (max-width: $md4) {
				margin: 0px 0px 50px 15px;			
			}	
        }			 
    }

    &__link {		
        font-size: 20px;
        font-weight: 400;
        line-height: 23.44px;
        color: #4C5866;
        text-decoration: none;
		transition: all 0.4s ease;
		&:hover {			
			color: #7875FE;
		}
		&:focus{		
			background-color: #DAD9FB;
		}
		&:active{		
			color: #4946B4;
		}

		@media (max-width: $md4) {
			font-size: 18px;
			line-height: 21.09px;
		}
    }
}