.page{	
    margin: 105px 0px 0px 0px;
	@media (max-width: $md3) {
	
	}
}

.tittle__content{
	padding: 49px 0px 0px 15px;	
	h1 {
		color: #4C5866;
		margin: 0px 0px 15px 0px;	
		@media (max-width: $md3) {
			width: 222px;
			font-size: 30px;
			font-weight: 400;
			line-height: 30px;
		}
	}

	p {
		color: #85859B;			
		@media (max-width: $md3) {
			font-size: 14px;
			font-weight: 400;
			line-height: 21px;
			margin: 0px 0px 21px 0px;
		}
	}

	.catalog-btn{
		font-size: 20px;
		color: #7875FE;
		background-color: #fff;
		width: 250px;
		height: 70px;
		border: 1px solid #7875FE;
		&:hover {			
			color: #fff;
			background-color: #7875FE;
		}
		&:focus{
			color: #7875FE;		
			background-color: #DAD9FB;
		}
		&:active{		
			color: #fff;
			background-color: #4946B4;
		}
		@media (max-width: $md3) {
			width: 144px;
			height: 50px;
		}
	}
}